<label class="mugopage-label custom-attribute">{{ fieldData.name }}<span>({{ fieldData.identifier }})</span></label>
<div class="mugopage-badge"><span>{{ fieldData.type }}</span></div>
<div class="mugopage-input">{{ fieldData.value }}</div>