<div class="custom-attribute-field-per-type" data-customattributetype="choice" data-customattributename="Choice">

    <label class="mugopage-label">Attribute Name<span aria-hidden="true">*</span></label>
    <input class="mugopage-input" type="text" name="" data-id="name" value="" required="required" />

    <label class="mugopage-label">Attribute Identifier<span aria-hidden="true">*</span></label>
    <input class="mugopage-input" type="text" name="" data-id="identifier" value="" required="required" />

    <label class="mugopage-label">Allowed Content Types</label>
    <select name="" data-id="choicetype">
        <option value="select" data-expanded="false" data-multiple="false">Select</option>
        <option value="select_multiple" data-expanded="false" data-multiple="true">Select Multiple</option>
        <option value="radio" data-expanded="true" data-multiple="false">Radio Buttons</option>
        <option value="checkbox" data-expanded="true" data-multiple="true">Checkboxes</option>
    </select>

    <label class="mugopage-label">Options (One option per line)<span aria-hidden="true">*</span></label>
    <textarea rows="10" name="" data-id="options" required="required"></textarea>

    <input class="mugopage-input" type="hidden" name="" data-id="type" value="choice" />

</div>