<div class="custom-attribute-field-per-type" data-customattributetype="string" data-customattributename="String">

    <label class="mugopage-label">Attribute Name<span aria-hidden="true">*</span></label>
    <input class="mugopage-input" type="text" name="" data-id="name" value="" required="required" />

    <label class="mugopage-label">Attribute Identifier<span aria-hidden="true">*</span></label>
    <input class="mugopage-input" type="text" name="" data-id="identifier" value="" required="required" />

    <input class="mugopage-input" type="hidden" name="" data-id="type" value="string" />

</div>