<fieldset>
    <label class="mugopage-label">{{ fieldData.name }}</label>
    <input class="mugopage-input" type="number" data-type="{{ fieldData.type }}" name="{{ fieldData.identifier }}" value="" />
</fieldset>